# API_week2作业

* 根据照片中的人脸，检测出图片中人脸的情绪，例如愤怒值、微笑值

* 使用到Azure 平台

In [55]:
# 导入需要的模块
import requests
import json

In [56]:
# 输入API网站注册的API_Key
KEY = '6d2313c39a6c430b93de1c4a4afdbbfb'

In [57]:
# 目标url [base url] 
# 人脸检测
BASE_URL = ' https://westcentralus.api.cognitive.microsoft.com/face/v1.0/detect'

In [58]:
# 沿用API的示范代碼，{subscription key}用KEY代入
HEADERS = {
    # Request headers
    'Content-Type': 'application/json',
    'Ocp-Apim-Subscription-Key': '{}'.format(KEY), #''  
}
img_url = 'https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1585747618306&di=48cf1174ae16f120e1b957a1eae8f5ed&imgtype=0&src=http%3A%2F%2Fu3.huatu.com%2Fuploads%2Fallimg%2F200309%2F660754-2003091I431227.png'

In [59]:
data = {
    'url': '{}'.format(img_url),
}
payload = {
    'returnFaceId': 'true',
    'returnFaceLandmarks': 'flase',
    'returnFaceAttributes': '{}'.format('age,gender,glasses,smile,emotion'), #添加想要获取的信息
}

In [60]:
# 坑。参考http://docs.python-requests.org/zh_CN/latest/user/quickstart.html  【更加复杂的post请求】
# 差別是 string 字串 vs. dict 字典
# Azura 使用的是 data = json.dumps(payload) 或 json=payload，data = payload 会出错
r = requests.post(BASE_URL, data=json.dumps(data), params=payload, headers=HEADERS)
#检查状态码
# 如果出现401，则是由于订阅密钥无效或API终结点错误，访问被拒绝。请确保为活动订阅提供有效密钥，并为资源使用正确的区域API终结点。
# 要检查一下密钥和HEADERS的相关代码
r.status_code
r.content

b'[{"faceId":"b895b662-1425-4d70-a850-cc468af4f8a7","faceRectangle":{"top":104,"left":522,"width":79,"height":79},"faceAttributes":{"smile":1.0,"gender":"male","age":22.0,"glasses":"NoGlasses","emotion":{"anger":0.0,"contempt":0.0,"disgust":0.0,"fear":0.0,"happiness":1.0,"neutral":0.0,"sadness":0.0,"surprise":0.0}}},{"faceId":"15004685-d91a-44f2-8cbc-a91f57233f19","faceRectangle":{"top":98,"left":327,"width":72,"height":72},"faceAttributes":{"smile":1.0,"gender":"male","age":19.0,"glasses":"NoGlasses","emotion":{"anger":0.0,"contempt":0.0,"disgust":0.0,"fear":0.0,"happiness":1.0,"neutral":0.0,"sadness":0.0,"surprise":0.0}}},{"faceId":"2d01d608-cec7-4e8c-a878-1b08c49aa402","faceRectangle":{"top":150,"left":633,"width":70,"height":70},"faceAttributes":{"smile":1.0,"gender":"female","age":27.0,"glasses":"NoGlasses","emotion":{"anger":0.0,"contempt":0.0,"disgust":0.0,"fear":0.0,"happiness":1.0,"neutral":0.0,"sadness":0.0,"surprise":0.0}}}]'

In [61]:
# requests 巧妙的方法   r = response
results = r.json() 
results

[{'faceId': 'b895b662-1425-4d70-a850-cc468af4f8a7',
  'faceRectangle': {'top': 104, 'left': 522, 'width': 79, 'height': 79},
  'faceAttributes': {'smile': 1.0,
   'gender': 'male',
   'age': 22.0,
   'glasses': 'NoGlasses',
   'emotion': {'anger': 0.0,
    'contempt': 0.0,
    'disgust': 0.0,
    'fear': 0.0,
    'happiness': 1.0,
    'neutral': 0.0,
    'sadness': 0.0,
    'surprise': 0.0}}},
 {'faceId': '15004685-d91a-44f2-8cbc-a91f57233f19',
  'faceRectangle': {'top': 98, 'left': 327, 'width': 72, 'height': 72},
  'faceAttributes': {'smile': 1.0,
   'gender': 'male',
   'age': 19.0,
   'glasses': 'NoGlasses',
   'emotion': {'anger': 0.0,
    'contempt': 0.0,
    'disgust': 0.0,
    'fear': 0.0,
    'happiness': 1.0,
    'neutral': 0.0,
    'sadness': 0.0,
    'surprise': 0.0}}},
 {'faceId': '2d01d608-cec7-4e8c-a878-1b08c49aa402',
  'faceRectangle': {'top': 150, 'left': 633, 'width': 70, 'height': 70},
  'faceAttributes': {'smile': 1.0,
   'gender': 'female',
   'age': 27.0,
   'glasses': 'NoGlasses',
   'emotion': {'anger': 0.0,
    'contempt': 0.0,
    'disgust': 0.0,
    'fear': 0.0,
    'happiness': 1.0,
    'neutral': 0.0,
    'sadness': 0.0,
    'surprise': 0.0}}}]

In [66]:
import pandas as pd
faces_data = results
df = pd.DataFrame(faces_data)
df

,faceAttributes,faceId,faceRectangle
0,"{'smile': 1.0, 'gender': 'male', 'age': 22.0, ...",b895b662-1425-4d70-a850-cc468af4f8a7,"{'top': 104, 'left': 522, 'width': 79, 'height..."
1,"{'smile': 1.0, 'gender': 'male', 'age': 19.0, ...",15004685-d91a-44f2-8cbc-a91f57233f19,"{'top': 98, 'left': 327, 'width': 72, 'height'..."
2,"{'smile': 1.0, 'gender': 'female', 'age': 27.0...",2d01d608-cec7-4e8c-a878-1b08c49aa402,"{'top': 150, 'left': 633, 'width': 70, 'height..."

In [73]:
# 取变量 (pandas cheetsheet)
df["faceAttributes"]

0    {'smile': 1.0, 'gender': 'male', 'age': 22.0, ...
1    {'smile': 1.0, 'gender': 'male', 'age': 19.0, ...
2    {'smile': 1.0, 'gender': 'female', 'age': 27.0...
Name: faceAttributes, dtype: object

In [78]:
pd.DataFrame(df["faceAttributes"])

                                      faceAttributes
0  {'smile': 1.0, 'gender': 'male', 'age': 22.0, ...
1  {'smile': 1.0, 'gender': 'male', 'age': 19.0, ...
2  {'smile': 1.0, 'gender': 'female', 'age': 27.0...

In [74]:
# 把faceAttributes的内容变成字典
df["faceAttributes"].to_dict()

{0: {'smile': 1.0,
  'gender': 'male',
  'age': 22.0,
  'glasses': 'NoGlasses',
  'emotion': {'anger': 0.0,
   'contempt': 0.0,
   'disgust': 0.0,
   'fear': 0.0,
   'happiness': 1.0,
   'neutral': 0.0,
   'sadness': 0.0,
   'surprise': 0.0}},
 1: {'smile': 1.0,
  'gender': 'male',
  'age': 19.0,
  'glasses': 'NoGlasses',
  'emotion': {'anger': 0.0,
   'contempt': 0.0,
   'disgust': 0.0,
   'fear': 0.0,
   'happiness': 1.0,
   'neutral': 0.0,
   'sadness': 0.0,
   'surprise': 0.0}},
 2: {'smile': 1.0,
  'gender': 'female',
  'age': 27.0,
  'glasses': 'NoGlasses',
  'emotion': {'anger': 0.0,
   'contempt': 0.0,
   'disgust': 0.0,
   'fear': 0.0,
   'happiness': 1.0,
   'neutral': 0.0,
   'sadness': 0.0,
   'surprise': 0.0}}}

In [45]:
pd.DataFrame(df["faceAttributes"].to_dict())

,0,1,2
age,22,19,27
emotion,"{'anger': 0.0, 'contempt': 0.0, 'disgust': 0.0...","{'anger': 0.0, 'contempt': 0.0, 'disgust': 0.0...","{'anger': 0.0, 'contempt': 0.0, 'disgust': 0.0..."
gender,male,male,female
glasses,NoGlasses,NoGlasses,NoGlasses
smile,1,1,1

In [86]:
#对换位置 .T
pd.DataFrame(df["faceAttributes"].to_dict()).T

,age,emotion,gender,glasses,smile
0,22,"{'anger': 0.0, 'contempt': 0.0, 'disgust': 0.0...",male,NoGlasses,1
1,19,"{'anger': 0.0, 'contempt': 0.0, 'disgust': 0.0...",male,NoGlasses,1
2,27,"{'anger': 0.0, 'contempt': 0.0, 'disgust': 0.0...",female,NoGlasses,1

In [96]:
#检验代码类型
type(df["faceAttributes"].loc[0])

dict

In [100]:
# 返回索引对象
df["faceAttributes"].index

RangeIndex(start=0, stop=3, step=1)

In [87]:
# 把全部的情绪都抽出来
[df["faceAttributes"].loc[i]["emotion"] if type(df["faceAttributes"].loc[i])  is dict else missing_value for i in df["faceAttributes"].index ]

[{'anger': 0.0,
  'contempt': 0.0,
  'disgust': 0.0,
  'fear': 0.0,
  'happiness': 1.0,
  'neutral': 0.0,
  'sadness': 0.0,
  'surprise': 0.0},
 {'anger': 0.0,
  'contempt': 0.0,
  'disgust': 0.0,
  'fear': 0.0,
  'happiness': 1.0,
  'neutral': 0.0,
  'sadness': 0.0,
  'surprise': 0.0},
 {'anger': 0.0,
  'contempt': 0.0,
  'disgust': 0.0,
  'fear': 0.0,
  'happiness': 1.0,
  'neutral': 0.0,
  'sadness': 0.0,
  'surprise': 0.0}]

In [94]:
# 不懂！！！ 死记硬背 能把全部的情绪都抽出来
df_attr_emotion = pd.DataFrame([df["faceAttributes"].loc[i]["emotion"] if type(df["faceAttributes"].loc[i])  is dict else missing_value for i in df["faceAttributes"].index ])
# 欄位名稱加上 face_rectangle 
# df.column修改列名
df_attr_emotion.columns = [ "emotion_"+x for x in df_attr_emotion.columns]
df_attr_emotion

,emotion_anger,emotion_contempt,emotion_disgust,emotion_fear,emotion_happiness,emotion_neutral,emotion_sadness,emotion_surprise
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [98]:
all = pd.DataFrame(df["faceAttributes"].to_dict()).T
#切割数据框，把年龄、性别、有无带眼镜从原始数据框切割出来，避免到时候整合数据多了emotion。
all[['age','gender','smile','glasses']]

  age  gender smile    glasses
0  22    male     1  NoGlasses
1  19    male     1  NoGlasses
2  27  female     1  NoGlasses

In [99]:
# 使用.join合併
# 输出年龄、性别、有无带眼镜、情绪
all[['age','gender','smile','glasses']].join(df_attr_emotion)

,age,gender,smile,glasses,emotion_anger,emotion_contempt,emotion_disgust,emotion_fear,emotion_happiness,emotion_neutral,emotion_sadness,emotion_surprise
0,22,male,1,NoGlasses,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,19,male,1,NoGlasses,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,27,female,1,NoGlasses,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0